{% extends 'menu/menu' %}

{#{% block title %}Регистрация{% endblock %}#}
{#{% import _self as this %}#}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('media/css/style.css') }}">
{% endblock %}


{% block content %}

    <H1>Главная</H1>

    <select class="form-control" id="supervisor">
        {% for item in categories_selector %}
            {% set selected = '' %}
            <option value="{{ item.id }}">{{ item.name }}</option>
        {% endfor %}
    </select>


    <form action="{{ route('main') }}" method="get">
        <button type="submit">EXAMPLE</button>
    </form>

    <div class="product-list main-content">
    {% for item in recipes %}
            <div class="product-card">
                    <img src="/media/image/pic_6.jpg" alt="Изображение товара" class="product-image">
{#                    <img src="{{ img }}" alt="Изображение товара" class="product-image">#}
                    <h2 class="product-title">{{ item.name }}</h2>
    {#                <p class="product-description">Описание товара. Краткое и информативное описание продукта.</p>#}
            </div>
        {% endfor %}

    </div>

{% endblock %}














