{% extends 'menu/menu_new' %}

{% block stylesheets %}
    {{ parent() }}

{#    <script src="{{ asset("jQuery/jquery-3.7.1.slim.min.js") }}"></script>#}

    <link rel="stylesheet" href="{{ asset('media/css/style.css') }}">

{% endblock %}



{% block content %}
    <main class="blog">

        <h1 class="edica-page-title" data-aos="fade-up">Example</h1>
        <div class="container">
            <div class="row" style="display: grid; grid-template-columns: 66.66% 33.33%;">
                    <section class="featured-posts-section">
                        <div class="row">
                            {% for item in recipes %}
                                <div class="col-md-4 fetured-post blog-post" data-aos="fade-right">
                                    <a href="#!" class="blog-post-permalink">
                                        <div class="blog-post-thumbnail-wrapper">
                                            <img src="assets/images/blog_1.jpg" alt="blog post">
                                        </div>
                                        <p class="blog-post-category">{{ item.name }}</p>
                                        <p class="blog-post-category">{{ item.cost }} р.</p>
                                        <h6 class="blog-post-title">Front becomes an official Instagram Marketing Partner</h6>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </section>

                <form method="get" action="{{ route('main') }}">
                        <div class="container-selectors widget-post-list" style="position: sticky !important; top:1px;">
                            <div class="sticky-div" style="width: 100%; height: 400px; margin-left: 20px;">
                                <h3 class="faq-section-text">Фильтры</h3>
                                <div class="selector-container">
                                    <p class="edica-blog-post-meta aos-init" >
                                        Виды приема пищи
                                    </p>
                                    <select class="form-control" style="height: 55px" id="types_meals" name="types_meals">
                                        <option value="0">Все</option>
                                        {% for item in categories_selector %}
                                            {% set selected = '' %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="selector-container">
                                    <p class="edica-blog-post-meta aos-init" >
                                        Стоимость до:
                                    </p>
                                    <input type="number" class="form-control" name="cost" />
                                </div>

                                <div class="selector-container">
                                    <p class="edica-blog-post-meta aos-init" >
                                        Название блюда:
                                    </p>
                                    {% include 'select2.twig' %}
                                </div>

                                <p>&nbsp;</p>
                                <input type="submit" class="btn btn-success" value="Применить"/>

                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </main>

        <script>
            $(document).ready(function() {
                $('.js-example-basic-single').select2();
            });
        </script>

{#    <script>#}
{#        if (window.jQuery) {#}
{#            console.log('YES');#}
{#        } else {#}
{#            console.log('NO');#}
{#        }#}
{#    </script>#}

{% endblock %}

{% block javascripts %}

{#    <script>#}
{#        if (window.jQuery) {#}
{#            console.log('YES');#}
{#        } else {#}
{#            console.log('NO');#}
{#        }#}
{#    </script>#}


{% endblock %}


