{% extends 'menu/menu_new' %}

{% block stylesheets %}
    {{ parent() }}

{#    <script src="{{ asset("jQuery/jquery-3.7.1.slim.min.js") }}"></script>#}

    <link rel="stylesheet" href="{{ asset('media/css/style.css') }}">

{% endblock %}



{% block content %}
    <main class="blog">

        <h1 class="edica-page-title" data-aos="fade-up">Example</h1>
        <div class="container">
            <div class="row" style="display: grid; grid-template-columns: 66.66% 33.33%;">
                    <section class="featured-posts-section">
                        <div class="row">
                            {% if recipes|length %}
                                {% for item in recipes %}
                                    <div class="col-md-4 fetured-post blog-post" style="opacity: 100%" data-aos="fade-right">
                                        <a href="{{ route('recipe-single', item.id) }}" class="blog-post-permalink">
                                            <div class="blog-post-thumbnail-wrapper">
                                                <img src="assets/images/blog_1.jpg" alt="blog post">
                                            </div>
                                            <p class="blog-post-category">{{ item.name }}</p>
                                            <p class="blog-post-category">{{ item.cost }} р.</p>
                                            <h6 class="blog-post-title">Front becomes an official Instagram Marketing Partner</h6>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h4>Рецептов не найдено</h4>
                            {% endif %}

{#                            {{ recipes|length ? (recipes.render) }}#}
                        </div>
                    </section>

                <form method="get" action="{{ route('main') }}">
                        <div class="container-selectors widget-post-list" style="position: sticky !important; top:1px;">
                            <div class="sticky-div" style="width: 100%; height: 400px; margin-left: 20px;">
                                <h3 class="faq-section-text">Фильтры</h3>
                                <div class="selector-container">
                                    <p class="edica-blog-post-meta aos-init" >
                                        Виды приема пищи
                                    </p>
                                    <select class="form-control" style="height: 55px" id="types_meals" name="types_meals">
                                        <option value="0" selected>Все</option>
                                        {% for item in categories_selector %}
                                            <option value="{{ item.id }}" {{ ((old('types_meals', dto.types_meals) == item.id) ? 'selected' : '') }}>{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="selector-container">
                                    <p class="edica-blog-post-meta aos-init" >
                                        Стоимость до:
                                    </p>
                                    <input type="number" class="form-control" name="cost" value="{{ ((old('cost', dto.cost)) ? dto.cost : null) }}" />
                                </div>

                                <div class="selector-container">
                                    <p class="edica-blog-post-meta aos-init" >
                                        Название блюда:
                                    </p>
                                        {% include 'select2.twig' with {'dishes': dishes } %}
                                </div>

                                <p>&nbsp;</p>
                                <div class="buttons">
                                    <input type="submit" class="btn btn-success" value="Применить"/>
                                    <a href="{{ route('main') }}" id="resetButton" class="btn">Очистить</a>
                                </div>



                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </main>

        <script>
            $(document).ready(function() {
                $('.js-example-basic-single').select2({
                    // theme: 's-example-basic-single form-control'
                });
            });
        </script>


{% endblock %}




