{#{% extends 'menu/menu_new' %}#}

{% block stylesheets %}

{#    сделать шаблоном и вставить в основной main#}

{#    <script src="{{ asset("jQuery/jquery-3.7.1.slim.min.js") }}"></script>#}

    <link rel="stylesheet" href="{{ asset('media/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('media/css/select2/select2.min.css') }}">

    <script src="{{ asset('scripts/select2/select2.min.js')}}"></script>


{% endblock %}

{% block content %}

        <select class="js-example-basic-single form-control" name="dishes" id="dishes">
            {% for item in dishes %}
                <option value="{{ item.id }}" {{ ((old('dishes', dto.dishes) == item.id) ? 'selected' : '') }}>{{ item.name }}</option>
            {% endfor %}
        </select>

{% endblock %}



